body {
    background-color: #ffffff;

    display: grid;
    height: 100vh;

}

.lyrics {
    width: 100%; 
    position: fixed;
    bottom: 25px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;  
}
.lyrics2 {
    width: 100%; 
    position: fixed;
    bottom: 25px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;  
}
.lyrics2  span { 
    background-color: lightpink; 
}

audio {
    height: 0px;
}

.credits {
    width: 100%;
    height: 30px;
    padding: 1px;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: small;
    color: dimgrey;
}

.bkg0 {
    background-image: url(asset/intro1.gif);

     background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;

}

.bkg1 {
    background-image: url(asset/opening_gif.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.bkg2 {
    background-image: url(asset/doors.gif);

  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.bkg2a {
    background-image: url(asset/iishoni.gif);

  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.bkg3 {
    background-image: url(asset/chorus.gif);

   background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.bkg4 {
    background-image: url(asset/heart.gif);
    
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    cursor: url("asset/blue%20heart.png"), auto;
}

.bkg5 {
    background-image: url(asset/chorus2.gif);

  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.bkg6 {
    background-image: url(asset/Chorus2a.gif);

 background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.bkg7 {
    background-image: url(asset/chorus2b.gif);

 background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.pg0click{
    position: fixed;
    margin-top: 400px;
    margin-left:40px;
    color: white;
    font-family: monospace;
    font-size: 40px;
    
}
.pg0click1{
    position: fixed;
    margin-top: 455px;
    margin-left:40px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}
.pg0click2{
    position: fixed;
    margin-top: 480px;
    margin-left:40px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}


summary::-webkit-details-marker {
    display: none;}

.pg1click{
    width: 200px;
    height: 250px;
    margin-left: 1025px;
    margin-top: 10px;
    position: fixed;

}
.pg1click:hover{
cursor: url("asset/door_cursor.png"), auto;
}
.pg2click{
    position: fixed;
   top: 460px;
 left: 775px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    
}
.pg2aclick {
    position: fixed;
    width: 100px;
    margin-left: 730px;
    margin-top: 100px;
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.pg3click{ width: 50px;
    margin-left: 850px;
    margin-top: 440px;
    position: fixed;
transition: transform .5s ease-in-out;
}

.pg3click:hover {
    transform: rotate(720deg);
}

.pg4click{width: 100px;
    margin-left: 960px;
    margin-top: 580px;
    position: fixed;
opacity: 0}

.pg4click:hover{
cursor: url("asset/heart_cursor1.png"), auto;
}

.pg5click{
    position: fixed;
   top: 460px;
 left: 775px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    transition: transform .5s ease-in-out;
}
.pg5click:hover {
    transform: scale(1.5, 1.5);
}

.pg6click{width: 200px;
    margin-left: 10px;
    margin-top: 350px;
    position: fixed;
transition: transform .5s ease-in-out;
}

.pg6click:hover {
    transform: rotate(720deg);}

.pg6click1 {width: 200px;
    margin-left: 1450px;
    margin-top: 350px;
    position: fixed;
}

.pg7click{width: 250px;
    height: 500px;
   margin-left: 720px;
    margin-top: 200px;
    position: fixed;
opacity: 0}

.pg7click:hover{
cursor: url("asset/instagramlogo.png"), auto;
}

.circle {
    position: fixed;
    display: block;
    top: 370px;
    left: 725px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 128px white;
    border-radius: 100%;
    transition: transform 2s ease-in-out;
}
.circle:hover {
    transform: scale(0, 0);
}
