

body {
    background-color: #ffffff;

    display: grid;
    height: 100vh;

}

.lyrics {
    width: 100%;
  height: 80px;
  padding: 1px;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    font-family: sans-serif
    
}
.credits {
     width: 100%;
  height: 30px;
  padding: 1px;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    font-family: monospace;
    font-size: small;
    color: dimgrey
        

}

/*used "contain" for some as some images get blown up when the window is small*/

.bkg0 {
    background-image: url(asset/intro1.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;

}
.bkg1 {
    background-image: url(asset/opening_gif.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.bkg2 {
    background-image: url(asset/doors.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    
    
}
.bkg2a {
    background-image: url(asset/iishoni.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.bkg3 {
    background-image: url(asset/chorus.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.bkg4 {
    background-image: url(asset/heart.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-size: contain;
    background-attachment: fixed;
 
}
.bkg5 {
    background-image: url(asset/chorus2.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
 
    
}
.bkg6 {
    background-image: url(asset/Chorus2a.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
 
}
.bkg7 {
    background-image: url(asset/chorus2b.gif);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
 
}

a {
    color:white;
    font-family: monospace;
        font-size: large;
    
}
.intro{
  text-align: center;  
    padding: 500px 0;
    background: none;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
    margin-top: auto;
        margin-bottom: auto;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   background-color: #555;
  color: white;
    font-size: 16px;
  padding: 130px 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
    /* planning to make the button clear. however the button keeps moving and is not responsive like the image when window is resized */
}


audio {
    height: 0px;
}


